body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:627px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:627px;
}
#u46 {
  position:absolute;
  left:2px;
  top:306px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:9px;
}
#u47 {
  position:absolute;
  left:170px;
  top:217px;
  width:70px;
  height:4px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:78px;
}
#u49p000 {
  position:absolute;
  left:-34px;
  top:32px;
  width:69px;
  height:3px;
  -webkit-transform:rotate(-165deg);
  -moz-transform:rotate(-165deg);
  -ms-transform:rotate(-165deg);
  transform:rotate(-165deg);
}
#u49p000_img {
  position:absolute;
  left:-9px;
  top:-1px;
  width:89px;
  height:14px;
}
#u49p001 {
  position:absolute;
  left:18px;
  top:30px;
  width:22px;
  height:22px;
}
#u49p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u49p002 {
  position:absolute;
  left:-33px;
  top:24px;
  width:2px;
  height:2px;
}
#u49p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:13px;
}
#u49.compound {
  width:0px;
  height:0px;
}
#u49 {
  position:absolute;
  left:247px;
  top:226px;
  width:1px;
  height:67px;
}
#u50 {
  position:absolute;
  left:2px;
  top:26px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u51 {
  position:absolute;
  left:295px;
  top:260px;
  width:205px;
  height:20px;
  color:#FF0000;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u53 {
  position:absolute;
  left:260px;
  top:209px;
  width:163px;
  height:20px;
  color:#FF0000;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u55_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:78px;
}
#u55p000 {
  position:absolute;
  left:-34px;
  top:33px;
  width:69px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u55p000_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:89px;
  height:12px;
}
#u55p001 {
  position:absolute;
  left:19px;
  top:22px;
  width:22px;
  height:22px;
}
#u55p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u55p002 {
  position:absolute;
  left:-34px;
  top:33px;
  width:2px;
  height:1px;
}
#u55p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:12px;
}
#u55.compound {
  width:0px;
  height:0px;
}
#u55 {
  position:absolute;
  left:276px;
  top:117px;
  width:1px;
  height:67px;
}
#u56 {
  position:absolute;
  left:2px;
  top:26px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u57 {
  position:absolute;
  left:320px;
  top:141px;
  width:149px;
  height:20px;
  color:#FF0000;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
