body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:736px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:736px;
}
#u22 {
  position:absolute;
  left:2px;
  top:360px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:65px;
  height:9px;
}
#u23 {
  position:absolute;
  left:442px;
  top:226px;
  width:60px;
  height:4px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u25 {
  position:absolute;
  left:391px;
  top:180px;
  width:163px;
  height:20px;
  color:#FF0000;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u27_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:215px;
  height:9px;
}
#u27 {
  position:absolute;
  left:160px;
  top:185px;
  width:210px;
  height:4px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:425px;
}
#u29 {
  position:absolute;
  left:470px;
  top:250px;
  width:4px;
  height:420px;
}
#u30 {
  position:absolute;
  left:2px;
  top:202px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:47px;
}
#u31p000 {
  position:absolute;
  left:-18px;
  top:17px;
  width:37px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u31p000_img {
  position:absolute;
  left:-15px;
  top:-6px;
  width:57px;
  height:13px;
}
#u31p001 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u31p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u31p002 {
  position:absolute;
  left:0px;
  top:35px;
  width:1px;
  height:2px;
}
#u31p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:13px;
}
#u31.compound {
  width:0px;
  height:0px;
}
#u31 {
  position:absolute;
  left:660px;
  top:174px;
  width:1px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u33 {
  position:absolute;
  left:615px;
  top:144px;
  width:205px;
  height:20px;
  color:#FF0000;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:157px;
}
#u35p000 {
  position:absolute;
  left:-73px;
  top:72px;
  width:147px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u35p000_img {
  position:absolute;
  left:-5px;
  top:-6px;
  width:167px;
  height:13px;
}
#u35p001 {
  position:absolute;
  left:-11px;
  top:131px;
  width:22px;
  height:22px;
}
#u35p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u35p002 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u35p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:13px;
}
#u35.compound {
  width:0px;
  height:0px;
}
#u35 {
  position:absolute;
  left:50px;
  top:614px;
  width:1px;
  height:146px;
}
#u36 {
  position:absolute;
  left:2px;
  top:65px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u37 {
  position:absolute;
  left:30px;
  top:760px;
  width:183px;
  height:20px;
  color:#FF0000;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
